/*
-----COLORS---
              */
@font-face {
  font-family: ProximaNovaSoft-Regular;
  src: url("./Fonts/Proxima Nova Soft/ProximaNovaSoft-Regular.otf");
  font-style: normal; }

@font-face {
  font-family: ProximaNovaSoft-Medium;
  src: url("./Fonts/Proxima Nova Soft/ProximaNovaSoft-Medium.otf");
  font-style: normal; }

@font-face {
  font-family: ProximaNovaSoft-Semibold;
  src: url("./Fonts/Proxima Nova Soft/ProximaNovaSoft-Semibold.otf");
  font-style: normal; }

@font-face {
  font-family: ProximaNovaSoft-Bold;
  src: url("./Fonts/Proxima Nova Soft/ProximaNovaSoft-Bold.otf");
  font-style: normal; }

body {
  background-color: #E44235;
  font-family: 'ProximaNovaSoft-Bold', sans-serif;
  font-style: normal; }
  body h4 {
    font-family: 'ProximaNovaSoft-Regular', sans-serif;
    font-style: normal;
    font-weight: normal; }
