@mixin font-face($font-family, $file-path) {
  @font-face {
    font-family: $font-family;
      src: url('#{$file-path}.otf');

  }
}
@include font-face(ProximaNovaSoft-Regular, '../Fonts/Proxima Nova Soft/ProximaNovaSoft-Regular');
@include font-face(ProximaNovaSoft-Medium, '../Fonts/Proxima Nova Soft/ProximaNovaSoft-Medium');
@include font-face(ProximaNovaSoft-Semibold, '../Fonts/Proxima Nova Soft/ProximaNovaSoft-Semibold');
@include font-face(ProximaNovaSoft-Bold, '../Fonts/Proxima Nova Soft/ProximaNovaSoft-Bold');

@mixin ProximaNovaSoft-Regular {
  font-family: 'ProximaNovaSoft-Regular', sans-serif;
   }
@mixin ProximaNovaSoft-Medium {
  font-family: 'ProximaNovaSoft-Medium', sans-serif;
}
@mixin ProximaNovaSoft-Semibold {
    font-family: 'ProximaNovaSoft-SemiBold', sans-serif;
    }
@mixin ProximaNovaSoft-Bold {
       font-family: 'ProximaNovaSoft-Bold', sans-serif;
    }
