@import "variables";
@import "fonts";

.menu{
  width:18.375em;
  height: 568px;
  position: absolute;
  background-color: $secundary-color;
  top: 0;
  left: -18.375em;
  .user-info{
    background-image: url("../Images/Side Menu/menu-header-bg.png");
    height: 4.67em;
    padding-top: 4.750em;
    img{
      width: 3.125em;
      height: 3.125em;
      border-radius: 1.5625em;
      margin-left: 1em;
      vertical-align:middle;
    }
    h2{
      @include type-scale(medium);
      @include ProximaNovaSoft-Regular;
      display: inline-block;
      margin-top: 1.2em;
      margin-left: 0.5em;
      color: $secundary-color;
    }

  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      height: 3.438em;
      a{
        display: block;
        &:hover{
        background-color: $menu-hover-color;
        }
      }
      img{
        padding-left: 1em;
        width: 1.875em;

        vertical-align:middle;
        margin:0.781em 0;
      }
      h2{
        @include ProximaNovaSoft-Regular;
        display: inline-block;
        @include type-scale(default);
        color:$purple;
        margin-left: 0.5em;
        height: 1.875em;
      }
    }
  }
}
