$primaryColor: #8D52BA;
$secundarycolor: #FFF;
$list-text-color: #959595;
$list-secundary-color: #F1F1F1;
$green: #16967A;
$red: #E44235;
$purple: #77439E;
$menu-hover-color: #F7F0FC;
$baseline: 16px;
